.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.wrapper > div:not(:first-child) {
  border-left: 1px solid black;
  padding-left: 20px;
}

.wrapper > div {
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

th {
  padding: 8px;
}

tbody > tr:first-child td {
  width: 100px;
  height: 100px;
}

.color-compare {
  width: 100%;
  height: 100%;
  position: relative;
}

.color-compare div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.color-compare .selected {
  background-image: linear-gradient(
    0,
    rgba(0, 0, 0, 0) 0 50%,
    currentcolor 50% 100%
  );
}

.color-compare .nearest {
  background-image: linear-gradient(
    0,
    currentcolor 0 50%,
    rgba(0, 0, 0, 0) 50% 100%
  );
}
